<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Devicon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style media="screen">

  body {
      /* margin: 5rem; */
      text-align: center;
      background: rgb(245, 245, 245);
    }
    .borders {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 8px solid #60be86;
      z-index: -1;
    }
    .icon-version {
      /* margin: 4rem 0; */
    }
    i {
      display: inline-block;
      /* margin: 2rem; */
      font-size: 5rem;
    }
    img {
      max-width: 5rem;
    }
    h4 {
      /* margin: 0; */
      color: #60be86;
    }
    .navbar {
      /* margin-bottom: 0; */
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 5px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    ul {
        list-style-position: inside;
        padding-left: 0;
        }
   div.scrollmenu {
    background-color: #DCDCDC;
    overflow: auto;
    white-space: nowrap; 
}

  </style>
</head>

<body ng-app="app" ng-controller="IconsCtrl">
    <div class="container">
        <h1 class="jumbotron-heading">Free Icons</h1>
        <p class="lead text-muted">the only service which gives free icons for you </p>
      </div>
              <div class="container-fluid text-center">    
                <div class="row content">
                        <div class="col-sm-2 sidenav">
                            <p><a href="javascript:window.location.href = '/';">All</a></p>
                            <ul class="list-inline">
                                    <li ng-repeat="icon in categories">
                                            <p><a ng-class="{'selected': icon.selected}" ng-click="selectCategory(icon)">{{icon.name}}</a></p>
                                    </li>
                            </ul>
                        </div>
                        <div class="col-sm-8 text-left"> 
                            <div class="col-sm-12 text-center" >
                                <input type="text" id="search" placeholder="Search for icons in: {{selectedCategory.name}}" ng-model="search.name"  size="50">
                            </div>
                                <div class="row" >
                                        <div  ng-repeat="icon in icons.children" ng-if="selectedCategory == null" class="col-md-4" style="display: inline-block">
                                            <footer class="bg-sun-flower">
                                                {{icon.name}}
                                            </footer>
                                                  <div ng-repeat="category in icon.children|limitTo:3| filter:search" style="display: inline-block" > 
                                                    <div>
                                                      <div ng-repeat="filename in category.children|limitTo:3" ng-if="filename.name.indexOf('original') !== -1" style="display: inline-block;padding: 10px">
                                                          <img src="/{{icon.name}}/{{category.name}}/{{filename.name}}" height="42" width="42" ng-class="{'selected': category.selected,icon.selected}" ng-click="selectIcon(category,icon)"/>        
                                                      </div> 
                                                    </div>
                                                  </div>
                                                  <button type="button" class="btn btn-warning btn-sm" ng-class="{'selected': icon.selected}" ng-click="selectCategory(icon)">More</button>
                                          </div>
                                            <ul class="list-inline">
                                                <footer class="bg-sun-flower">
                                                    {{selectedCategory.name}}
                                                    </footer>
                                            <li class="list-inline-item" ng-repeat="icon in icons.children" ng-if="selectedCategory != null" class="col-md-4" style="display: inline-block" ng-if="categroy">                                              
                                              <ul class="list-inline-item" div ng-repeat="category in icon.children | filter:search" style="display: inline-block" > 
                                                  <ul class="list-inline" ng-if="category.name.indexOf('original') !== -1">      
                                                      <li>
                                                          <img src="/{{selectedCategory.name}}/{{icon.name}}/{{category.name}}" height="42" width="42" ng-class="{'selected': icon.selected}" ng-click="selectIcon(icon,selectedCategory)"/>        
                                                      </li>
                                                  </ul>     
                                              </ul>
                                          </li>
                                        </ul>
                              </div>
                        </div>
                      <div class="col-sm-2 sidenav">
                            <ul class="list-inline">
                                    <li ng-repeat="icon in detailicons.children" class="list-inline-item">
                                            <p>
                                            <img src="{{fullpath}}/{{icon.name}}" style="border:solid 1px red" height="42" width="42" ng-class="{'selected': icon.selected}" ng-click="selectSVGVersion(icon)" />                                             
                                            </p>
                                    </li>
                                    <div ng-if="selectedSVGVersionIcon != null">
                                          <font size="3">
                                            <div class="row">                                        
                                            <div class="col-sm-10 scrollmenu" style="word-wrap: break-word" id="myInput">
                                                <a href="http://{{baseURL}}:{{port}}/icons{{fullpath}}/{{selectedSVGVersionIcon}}" target="_blank" id="foo">
                                                  http://{{baseURL}}:{{port}}/icons{{fullpath}}/{{selectedSVGVersionIcon}}
                                                </a>
                                            </div>
                                            <div class="col-sm-2" style="word-wrap: break-word" id="myInput" ng-click-copy="http://{{baseURL}}:{{port}}/icons{{fullpath}}/{{selectedSVGVersionIcon}}">       
                                                <img src="C:/Agnel/AngularApp/smiley.gif" height="25" width="25">        
                                            </div>
                                          </div>
                                          </font>
                                      </div>
                            </ul>
                      </div>
                </div>
              </div>
              
   <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/JustMaier/6ef7788709d675bd8230/raw/3d39d50e66d8d77e05656ed7dd09298be7e86f1f/ngClickCopy.js"></script>
    <script charset="utf-8">
      var app = angular.module("app", ['ngClickCopy']);
      app.controller('IconsCtrl',function($scope, $http) {

        $http.get('/category').then(function(res) {
          $scope.baseURL = window.location.hostname;
          $scope.port = window.location.port;
          $scope.icons = res.data;
          $scope.categories = res.data.children;
          
        });

        $scope.selectIcon = function(category,icon)
        {
            //send these both of the objects to the controller and find out the locat
            $scope.selectedSVGVersionIcon = null;   
            $scope.selectedcategoryname = category.name;
            $scope.selectediconname = icon.name;
                var url = '/category?categoryname='+$scope.selectedcategoryname+'&iconname='+  $scope.selectediconname;
                $http.get(url).then(function(res) {
                    $scope.detailicons = res.data;
                    $scope.fullpath = res.data.path.split("icons")[1];
                });
        }

        $scope.selectCategory = function(icon)
        {
            var url = '/category?categoryname='+icon.name;
            $http.get(url).then(function(res) {
                $scope.selectedCategory= icon;
                $scope.icons= res.data;
                });
        }

        $scope.selectSVGVersion = function(icon)
        {
            $scope.selectedSVGVersionIcon = icon.name;   
        
        }

      });
    </script>
</body>
</html>
